<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:annotation-config />

    <bean id="userController" class="com.ligaaclabs.twitter.controller.UserController">
        <constructor-arg name="userService" ref="userService" />
        <constructor-arg name="postService" ref="postService" />
    </bean>

    <bean id="postController" class="com.ligaaclabs.twitter.controller.PostController">
        <constructor-arg name="postService" ref="postService" />
        <constructor-arg name="userService" ref="userService" />
    </bean>

    <bean id="userService" class="com.ligaaclabs.twitter.service.UserServiceImpl">
        <constructor-arg name="userRepository" ref="userRepository" />
    </bean>

    <bean id="postService" class="com.ligaaclabs.twitter.service.PostServiceImpl">
        <constructor-arg name="userRepository" ref="userRepository" />
        <constructor-arg name="postRepository" ref="postRepository" />
    </bean>

    <bean id="postRepositoryImpl" class="com.ligaaclabs.twitter.repository.PostRepositoryImpl" />

    <bean id="userRepositoryImpl" class="com.ligaaclabs.twitter.repository.UserRepositoryImpl" />
</beans>
